@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding :0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    cursor: pointer;
}

body{
    height:100vh ;
    width: 100%;
display:flex;
justify-content: center;
align-items:center;
background: linear-gradient(to top,#b9992f,#4d8a76);

}
h2{
    font-size: 50px;
    text-align: center;
    color:black;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    letter-spacing: 3px;
    margin-bottom: 5%;
    opacity: .7;}

    button{
        width:20%;
        color:black;
        font-size: 15px;
        margin:4% auto;
        background-color:gray ;


    }
    